<%- include("../partials/header.ejs") %>

	<header class="jumbotron">
		<div class="container">
			<p class="text-danger">
				
				<!-- Welcome to InfoPool <i class="fas fa-swimming-pool"></i> -->
			
			</p>
			<p class="font-weight-light">
				View posts from all over the world! <i class="fas fa-swimming-pool"></i>
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">New Post</a>
			</p>
		</div>
	</header>
	
	<div class="row">
		<div class="col-lg-12">
			<h3>
				Our Most Popular Posts!
			</h3>
		</div>
	</div>
	
	
	<div class="row text-center" style="display:flex; flex-wrap: wrap">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail1">
				<img src="<%= campground.image %>">
				<div class="caption">
					<h4>
						<%= campground.name %>
					</h4>
					<div>
                		<span class="badge label-primary"><i class="far fa-heart"></i> <%= campground.likes.length%></span>
                       </div>
				</div>
				<br>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-info">Dive Deep</a>
				</p>
			</div>
		</div>	

		<% }) %>
	</div>

<%- include("../partials/footer.ejs") %>